<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena</title>
</head>
<body>
    <h1>Battlegrounds</h1>
    

    <h2><%= pokemon.toUpperCase() %></h2>
    
    <div class="mypokemon">
 <h3 id="mypokemonp">100<span>HP</span> </h3>
 </div>
 
 <div><img src="<%= JSON.stringify(test).replace(/\"/g, "") %>"></img></div>
 
 <% for (let i = 0; i < attack.length; i++){%>
     <button class="some-class"> <%= JSON.stringify(attack[i]).replace(/\"/g, "") %>    </button>
<%} %>

<div class="ENEMY">
   <h2 style="text-align:right" > <%= opponents.name.toUpperCase() %> </h2>

   <h3 id="enemypokemonp" style="text-align:right" >100<span>HP</span></h3>
   </div>

   <div style="text-align:right"><img  src="<%= JSON.stringify(opponents.sprites).replace(/\"/g, "") %>"></img></div>

   <a href="/pokedex">START OVER!</a>
   
   <script>
function game(){
    let mypokemon = document.getElementById("mypokemonp");
    let enemypokemon = document.getElementById("enemypokemonp");
    let mypokemonhp = 100;
    let enemypokemonhp = 100;


    document.querySelectorAll('.some-class').forEach(item => {
    item.addEventListener('click', e => {
        let randomAttack = Math.floor(Math.random() * 25) + 1;
        enemypokemonhp = enemypokemonhp - randomAttack;
        enemypokemon.innerHTML = enemypokemonhp + "<span>HP</span>";
        console.log(enemypokemonhp);


        setTimeout(function(){
            let randomAttack = Math.floor(Math.random() * 25) + 1;
            mypokemonhp = mypokemonhp - randomAttack;
            mypokemon.innerHTML = mypokemonhp + "<span>HP</span>";
            console.log(mypokemonhp);
            if(mypokemonhp <= 0){
                alert("You Lose!");
            }
            if(enemypokemonhp <= 0){
                alert("You Win!");
            }
        }, 1500);
});
});
}
game()
   </script>
</body>
</html>